Pillow==9.2.*

tensorflow==2.11.*
# Tensorflow will also install NumPy, picking a compatible version
#numpy==
scikit-learn==1.2.*

matplotlib==3.6.*
jupyterlab==3.5.*

# linters
autopep8
pydocstyle
flake8
